@(context : scrupal.core.Context, pht: scrupal.core.PageHeadTags, args: Map[String,scrupal.core.HtmlContent])
@scrupal.core.html.master(pht) {
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top">
@for(nav ← args.get("nav")){@nav.content}
</nav>
<div class="col-md-12">
@for(header ← args.get("header")){@header.content}
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
    @for(left ← args.get("left")){@left.content}
    </div>
    <div class="col-md-8">
    @for(content ← args.get("content")){@content.content}
    </div>
    <div class="col-md-2">
    @for(right ← args.get("right")){@right.content}
    </div>
  </div>
  <hr>
  <footer>
  @for(footer ← args.get("footer")){@footer.content}
  </footer>
</div>
@for(scripts ← args.get("endscripts")){@scripts.content}
}
